$theme-color: rgb(242, 238, 252);

.process_container {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 200px;
}

.process {
  width: 200px;
  height: 200px;
  background-color: $theme-color;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(217, 217, 217);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-top: 30px;
  }
}

.icon {
  width: 70px;
}

.content {
  display: flex;
  justify-content: space-around;
}