$theme-color: rgb(242, 238, 252);
// $theme-color: #EAF3FA;

.footer__container {
  // background-color: rgb(207, 215, 240);
  background-color: $theme-color;

  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  padding: 1% 18%;

  .footer__inner {
    width: 300px;
    margin-top: 35px;

    img {
      width: 60px;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.aaa {
  *:first-child {
    background-color: royalblue;

    img {
      width: 20px;
    }
  }

  img {
    // background-color: yellow;
    width: 20px;
  }
}

.sns {
  display: flex;

  span {
    display: block;
  }
}