$theme-color: rgb(242, 238, 252);

.card {
  background-color: $theme-color;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 2px 3px 3px rgb(193, 192, 192);
  margin-bottom: 10px;
  text-align: center;
  margin-right: 20px; 

  h3 {
    padding-top: 3rem;
  }


  &:last-child {
    margin-right: 0px;
  }

}