.card__container {
  width: 21rem;
  height: 25rem;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 8px;
  position: relative;
  transition: .5s;

  &:hover {
    // box-shadow: 5px 4px 4px rgb(211, 211, 211);
    // box-shadow: 5px 5px 4px 4px red;
    box-shadow: 0px 9px 15px -2px rgba(66, 68, 90, 0.43);
  }
}

.card__pic img {
  width: 100%;
}

.card__description {
  margin: 1rem;

  p {
    padding-left: 0;
  }

  p:first-child {
    color: rgb(3, 3, 158);
    font-size: .9rem;
  }

  p:nth-child(2) {
    font-weight: 900;
  }

  p:last-child {
    text-align: right;
    padding-right: 0;
  }


}

.card__etc {
  margin: 1rem;
}